body{
    background-color: #d4d1e0;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    display:flex;
    flex-direction:row;
    background-color:lightskyblue;
    padding: 25px;
}
